/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');

/*--generic--*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
body {
    font-family: "Inter", serif;
    font-weight: 300;
    background-color: var(--main);
    --main: #F5F5F5;
    --main-dark: #181818;
    --background-alt: #2d2d2d;
    --background-main-dark: #181818;
    --text: #181818;
    --text-white: #F3F4F6;
}

/*--dark-mode--*/
.dark {
    color: var(--text-white);
    background-color: var(--background-alt);
}

/*--logo--*/
#logo-box{
    display: flex;
    margin-left: 25px;
    margin-bottom: 25px;
}
#logo-box a{
    text-decoration: none;
    color: var(--text-white);
    font-size: 1.8em;
    font-weight: 400;
}
#logo{
    width: 30px;
    aspect-ratio: 1/1;
    margin-right: 5px;
    transform: translateY(3.35px);
}

/*--account--*/
#account-box{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 25px;
}

#account-box a, #account-box-bottom a{
    text-decoration: none;
    color: var(--text-white);
    display: flex;
    align-items: center;
}

#user_pfp{
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 30px;
    margin-right: 12px;
}

/*!dont show when on pc:*/
@media (min-width: 769px) {
    #account-box-bottom{
        display: none;
    }
}


/**--NAVIGATION--*/
.nav-bar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-main-dark);
    color: var(--text-white);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
}
.menu {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-items: space-evenly;
    padding-left: 0;
    gap: 5px;
}

.menu li {
    width: 100%;
    padding: 15px 0;
    width: fit-content;
}

.menu li a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: var(--text-white);
    text-transform: uppercase;
    font-size: 1.3em;
    transition: 0.15s ease-in-out;
    margin-left: 20px;
    border-radius: 20px;
}
/*
.menu li a:hover {
}
*/
.menu li a i {
    font-size: 1.3em;
    transform: translateY(-1px);
}

/**misc-buttons*/
#buttons-box{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 25px;
}

#bg{
    font-weight: 600;
}
#en{
    font-weight: 100;
}

#dark-mode {
    font-size: 1.4em;
    color: var(--text-white);
    cursor: pointer;
    margin-right: 20px;
}
/**misc-buttons*/

/*responsive nav*/
@media (max-width: 768px){

    /*--Bottom-bar--*/
    .nav-bar {
        width: 100%;
        height: 70px;
        bottom: 0;
        top: auto;
        left: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1000;
        flex-direction: row;
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        padding-left: 0;
    }

    .menu li {
        padding: 5px 10px;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .menu li a {
        font-size: 1.2em;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
    }
    
    .menu li a span{
        display: none;
    }

    .menu li a i {
        font-size: 1.8em;
    }

    /*removes:  */
    #logo-box{
        display: none;
    }

    #account-box{
        display: none;
    }

    #dark-mode {
        display: none;
    }

    #language{
        display: none;
    }
    
    #user_username{
        display: none
    }

    #user_pfp{
        width: 1.8em;
    }

}