/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');
/*--generic--*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    user-select: none;
}
body{
    /*default fonts*/
    font-family: "Inter", serif;
    font-weight: 300;

    background-color: var(--main);

    /*--colors--*/
    /*!REFERENCE ONLY*/
    --background-main:#F3F4F6;
    --background-alt: #F2F2F2;
    --background-main-dark:#181818 ;

    --text-main:#222222;
    --text-white: #F3F4F6;;

    /*!REFERENCE ONLY*/
    --accent-main:#FF6F61;
    --acent-main-light: #FF9F91;
    --acent-alt: #008080;
    --acent-alt-light: #66B2B2;

    /*----------*/

    /*--fonts--*/
    /*!REFERENCE ONLY*/
    --font-extra-small:#;
    --font-small:#;
    --font-normal:#;
    --font-big:#;
    --font-large:#;
    --font-very-large:#;
    /*--------*/

    /*--commons margins and sizes*/
    --padding-small:#;
    --padding-normal:#;
    --padding-big:#;

    --margin-small:#;
    --margin-normal:#;
    --margin-big:#;
    /*--------*/
}



/*--NAVIGATION--*/
.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    
    background-color: var(--background-main-dark);
    color: var(--text-white);
    
    padding: 14px 20px;
    margin-bottom: 20px;
}
.logo img{
    width: 40px;
}
.menu{
    display: flex;
}
.menu li{
    padding-left: 30px;
}

.menu li a {
    display: flex;
    align-items: center;
    gap: 5px;

    text-decoration: none;
    color: var(--text-white);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;

    font-size: 1.2em;

}
.menu li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--background-main-dark);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after{
    width: 100%;
}
.open-menu , .close-menu{
    position: absolute;
    color: var(--text-white);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu{
    top: 20px;
    right: 20px;
}
#check{
    display: none;
}

#little-container{
    display: flex;
    align-items: center;
    gap: 30px;
}
/*--black-mode--*/
#dark-mode, #light-mode{
    font-size: 1.4em;
    color: var(--text-white);
}
/*--black-mode-*/

/*responsive nav*/
@media(max-width: 768px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--background-main-dark);
        transition: all 0.3s ease-in-out;
    }
    .menu li{margin-top: 40px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}

/*reponsive*/
@media(max-width: 768px){
    .nav-bar{
        padding: 30px;
    }

    .menu li a::after{
        display: none;
    }

    /* Hide text*/
    .menu li a p {
        display: none;
    }

    .menu li a i {
        font-size: 3em;
        margin-right: 5px;
        background-color: #303030;
        padding: 10px;
        border-radius: 50px;
    }
    
    .menu li a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;

        padding: 10px;
    }
    
    .menu{
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    
    .menu li{
        padding: 10px;
    }

    .logo{
        display: block;
    }
}