/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /*default assigned fonts*/
    font-family: "Inter", serif;
    font-weight: 300;
    font-style: normal;

    /*--colors--*/
    --background-main:#F3F4F6;
    --background-alt: #F2F2F2;
    --background-main-dark:#181818 ;

    --text-main:#222222;
    --text-white: #F3F4F6;;
    /*----------*/

    --accent: rgb(47, 216, 56);

    /*fonts*/
    --font-extrasmall: 0.75em;
    --font-small: 1em;
    --font-normal: 1.2em;
    --font--meduim: 1.5em;
    --font--big: 2em;
    --font--large: 3em;
    --font--mega: 6em;

    color: var(--text-main);

    /* common  margins and paddings*/
    --offset-extrasmall: 10px;
    --offset-small: 20px;
    --offset-normal: 40px;
    --offset-medium: 50px;

    --offset-left: 3%;
    /*-----------------*/
}

/*-----------------------*/

/*----------MAIN---------*/
#section-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

/*progress-bar*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 400px;
    width: 100%;
}
.container .steps {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.steps .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: #999;
    font-size: 22px;
    font-weight: 500;
    border-radius: 50%;
    background: #fff;
    border: 4px solid #e0e0e0;
    transition: all 200ms ease;
    transition-delay: 0s;
}

/*animation*/
.steps .circle.active {
    transition-delay: 100ms;
    border-color: var(--accent);
    color: var(--accent);
}

.steps .progress-bar {
    position: absolute;
    height: 4px;
    width: 100%;
    background: #e0e0e0;
    z-index: -1;
}
.progress-bar .indicator {
    position: absolute;
    height: 100%;
    width: 0%;
    background: var(--accent);
    transition: all 300ms ease;
}
.container .buttons {
    display: flex;
    gap: 20px;
}
.buttons #prev, .buttons #next {
    padding: 8px 25px;
    border: none;
    border-radius: 8px;
    color: var(--text-white);
    background-color: var(--accent);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transition: all 200ms linear;
}

.buttons button:active {
    transform: scale(0.97);
}
.buttons button:disabled {
    background: var(--accent-light);
    cursor: not-allowed;
}



/*------------*/

/*--heading--*/
#mainheading{
    color: var(--accent);
    font-size: 6em;
    margin: 100px 0px;
    margin-left: var(--offset-left);
    text-align: center;
}
/*resposnive*/
@media (max-width: 768px){
    #mainheading{
        font-size: 4em;
        margin: 80px 0px;
    }
}
/*----------*/



/*--forms--*/
#linkcolored{
    color: var(--accent);
}

#create-pack-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 50px;
    padding-left: var(--offset-left);
}
#create-pack-form input{
    border: none;
    background-color: #dfdfdf;
    width: auto;
    height: 70px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    font-size: 1.4em;
    font-family: "Rubik" sans-serif;
    color: var(--text);
    font-weight: 200;
    width: 20vw;
}

#create-pack-form div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    gap: 20px;;
}

#create-pack-form select{
    border: none;
    background-color: #dfdfdf;
    width: auto;
    height: 70px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    font-size: 1.4em;
    font-family: "Rubik" sans-serif;
    font-weight: 200;
    width: 20vw;
}

#create-pack-form input[type="submit"] {
    background-color: var(--accent);
    color: var(--main);
    font-size: 2em;
    padding: 10px 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    display: inline-block;
}

#notice{
    margin-left: 10px;
    color: #D22B2B;
    opacity: .7;
    display: none;
}
/*-------*/


@media (max-width: 480px) {
    #mainheading{
        font-size: 2.8em;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #mainheading{
        font-size: 4em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #mainheading{
        font-size: 5em;
    }
}

/*----------MAIN---------*/