/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

    /*white mode*/
    --main:#F5F5F5;
    --alt:#757575;
    --text: #333333;
    
    /*main color pallette*/
    --main: #FFF ;
    --alt: #181818 ;
    --accent: rgb(47, 216, 56);


    /*--fonts--*/
    --font-extrasmall: 0.75em;
    --font-small: 1em;
    --font-normal: 1.2em;
    --font--meduim: 1.5em;
    --font--big: 2em;
    --font--large: 3em;
    --font--mega: 6em;

    background-color: var(--main);
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    /*-------*/

    width: 100%;
}

/*-----------------------*/

/*----------MAIN---------*/
#mainheading{
    text-align: center;
    color: var(--accent);
    font-size: 6em;
    margin: 100px 0px;
}
/*resposnive*/
@media (max-width: 768px){
    #mainheading{
        font-size: 4em;
        margin: 80px 0px;
    }
}
/*----------*/








#linkcolored{
    color: var(--accent);
}
.container p {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}

form{
    background-color:var(--altmisc);
    border-radius: 50px;
    padding: 50px 0px;
    width: 25%;

    display: flex;
    flex-direction: column;

    justify-content: space-around;
    gap: 2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-self: center;
    justify-self: center;

    aspect-ratio: 2/1;
}


#createButton{
    border: none;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    align-self: center;
    justify-self: center;
    width: 50%;

    font-size: 1.1em;

    border-radius: 50px;
    padding: 20px 15px;

    background-color: var(--accent);
    color: white;
}

/*for icons wrapping*/
.input-wrapper {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.input-wrapper input {
    width: 100%;
    padding: 20px 40px 20px 15px;
    border-radius: 50px;
    font-size: 1.1em;
    font-family: "Rubik", serif;
    border: none;
}

.input-wrapper select{
    border: none;
    width: 50%;
    padding: 20px 40px 20px 10px;
    border-radius: 50px;
    font-size: 1.1em;
    font-family: "Rubik", serif;
    opacity: 0.7;;
}

.input-wrapper i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: var(--text);
    font-size: 1.5em;
}
/*----------MAIN---------*/