/*generic*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Rubik", serif;
    font-weight: 300;

    background-color: var(--main);
    
    /*white mode*/
    --main:#F5F5F5;
    --alt:#757575;
    --text: #333333;

    /*dark mode*/
    /*
    --main:;
    --alt:;
    --text:;
    */
    
    /*main color pallette*/
    --main: #FFF ;
    --alt: #181818 ;
    --accent: rgb(47, 216, 56);

    /*fonts*/
    --font-extrasmall: 0.75em;
    --font-small: 1em;
    --font-normal: 1.2em;
    --font--meduim: 1.5em;
    --font--big: 2em;
    --font--large: 3em;
    --font--mega: 6em;

    /* common  margins and paddings*/
    --offset-extrasmall: 10px;
    --offset-small: 20px;
    --offset-normal: 40px;
    --offset-medium: 50px;

    --offset-left: 3%;
    /*-----------------*/
}

/*------MAIN------*/
#dashboard{
    width: 100%;
    height: fit-content;

    background-color: var(--main);
    padding: 10px;

    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}
#heading{
    font-size: 6em;
    margin-left: 20px;
    font-weight: 400;
    margin-left: var(--offset-left);
}

#flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-items: space-evenly;
}
/*------------------------------------*/

#section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*welcoming part*/
#tasks{
    width: 30%;
    height: fit-content;
    background-color:var(--main);
    color: var(--text);
    padding: 25px;
    border-radius: 20px;
    color: var(--main);
    margin-top: 50px;
    align-self: flex-start;
    margin-left: var(--offset-left);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#section-heading{
    font-size: 3.2em;
    color: var(--text);
    display: flex;
    align-items: center;
    gap: 20px;
}

#task{
    font-size: 3em;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: var(--text);
}
#section-heading i{
    color: var(--text);
    font-size: 1em;
}
/* Imashe iconi, sega nqma
#task-heading{
    display: flex;
    align-items: center;
    gap: 20px;
}
*/
#task-description{
    color: var(--accent);
    font-size: 2rem;
}
/*----RESPONSIVE-----*/
@media (max-width: 768px){
    #heading{
        font-size: 4em;
    }
    #tasks{
        align-self: center;
        width: 95%;
    }
    #task{
        font-size: 2.5em;
    }
    #section-heading{
        font-size: 3em;
    }
}
/*------------------*/

/*reminders section*/
#upcoming-events{
    width: 30%;
    height: fit-content;
    padding: 25px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 50px;
    margin-left: var(--offset-left);
}
@media (max-width: 768px){
    #upcoming-events{
        width: 95%;
        align-self: center;
        height: fit-content;
    }
}
/*-----------------*/
