@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*---------------------GENERAL---------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Rubik", serif;
    font-weight: 300;

    background-color: var(--main);
    
    /*white mode*/
    --main:#F5F5F5;
    --alt:#757575;
    --text: #333333;

    /*dark mode*/
    /*
    --main:;
    --alt:;
    --text:;
    */
    
    /*main color pallette*/
    --main: #FFF ;
    --alt: #181818 ;
    --accent: rgb(47, 216, 56);

    /*fonts*/
    --font-extrasmall: 0.75em;
    --font-small: 1em;
    --font-normal: 1.2em;
    --font--meduim: 1.5em;
    --font--big: 2em;
    --font--large: 3em;
    --font--mega: 6em;
}
/*-------------------------------------------------*/


/*----------------------MAIN-----------------------*/
#header{
    text-align: center;
    color: var(--accent);
    font-size: 8em;
    margin-bottom: 10vh;
    margin-top: 5vh;
}

#sections{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
}

#section{
    display: flex;
    flex-direction: column;
}

#section-header{
    font-size: 4em;
    margin-bottom: 5vh;
}
#section-text{
    font-size: 2em;
    color: var(--accent);
    font-weight: 400;
    margin-left: 3em;
    display: flex;
}
#section-text i{
    color: var(--accent);
    font-size: 1.2em;
    margin-left: 10px;
    align-self: center;
}
.point{
    font-size: 1.5em;
    margin-left: 4em;
    margin-top: 1em;
    margin-bottom: 2em;

    width: 80%;
    line-height: 1.4EM;
}

/*-----RESPONSIVE-----*/

/*Телефони (портрет)*/
@media (max-width: 768px){
    #header{
    font-size: 4em;
    }
    #sections{
        padding-left: 1em;
    }

    #section-header{
        font-size: 3em;
    }
    #section-text{
        margin-left: 2em;
        font-size: 1.5em;
    }

    #section-text i{
        font-size: 1em;
    }

    .point{
        width: 65%;
    }

}

/*Малки телефони
@media (max-width: 480px) {

}
*/

/*Таблети (потртрет)*/
@media (max-width: 1024px) and (min-width: 768px) {

}
/*--------------------*/


/*-------------------------------------------------*/