/*--fonts--*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');
/*--generic--*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", serif;
    font-weight: 300;
    font-style: normal;

    /*white mode*/
    --main:#F5F5F5;
    --alt:#757575;
    --text: #333333;
    
    /*main color pallette*/
    --main: #FFF ;
    --alt: #181818 ;
    --accent: rgb(47, 216, 56);


    /*--fonts--*/
    --font-extrasmall: 0.75em;
    --font-small: 1em;
    --font-normal: 1.2em;
    --font--meduim: 1.5em;
    --font--big: 2em;
    --font--large: 3em;
    --font--mega: 6em;

    background-color: var(--main);
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    /*-------*/

    width: 100%;
}

/*--MAIN--*/
#linkcolored{
    color: var(--accent);
}
.container p {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}

form{
    background-color:var(--altmisc);
    border-radius: 50px;
    padding: 50px 0px;
    width: 25%;

    display: flex;
    flex-direction: column;

    justify-content: space-around;
    gap: 2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-self: center;
    justify-self: center;

    aspect-ratio: 2/1;
}


#registerButton{
    border: none;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    align-self: center;
    justify-self: center;
    width: 50%;

    font-size: 1.1em;

    border-radius: 50px;
    padding: 20px 15px;

    background-color: var(--accent);
    color: white;
}

/*for icons wrapping*/
.input-wrapper {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.input-wrapper input {
    width: 100%;
    padding: 20px 40px 20px 15px;
    border-radius: 50px;
    font-size: 1.1em;
    font-family: "Rubik", serif;
    border: none;
}

.input-wrapper i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: var(--text);
    font-size: 1.5em;
}
/*misc*/
#forgotten{
    color: var(--accent);
    margin: 0 auto;
    text-align: center;
}
#message{
    margin: 50px 4%;

    font-size: 4em;
    font-family: "Rubik", serif;
    text-align: center;
}
#heading{
    text-align: center;
    margin-top: 50px;
    font-size: 3em;
    color: var(--accent);
    font-family: "Rubik", serif;
}

/*responsive*/
@media(max-width: 764px){
    #message{
        font-size: 2.5em;
    }
    #heading{
        margin-top: 25px;
        font-size: 1em;
    }
    form{
        width: 80%;
    }
}

@media (max-width: 768px) {
    .container {
        margin-top: 20px;
        padding: 0 10px;
    }

    .input-wrapper {
        width: 90%;
    }

    .input-wrapper input {
        padding: 18px 30px 18px 15px;
        font-size: 1em;
    }

    .input-wrapper i {
        font-size: 1.2em;
    }

    #registerButton {
        width: 70%;
        padding: 12px;
        font-size: 1.1em;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 5px;
    }
    .input-wrapper {
        width: 80%;
    }
    .input-wrapper input {
        padding: 15px 30px 15px 15px;
        font-size: 0.9em;
    }
}