@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*---------------------GENERAL---------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Rubik", serif;
    font-weight: 300;

    background-color: var(--main);
    
    /*white mode*/
    --main:#F5F5F5;
    --alt:#757575;
    --text: #333333;

    /*dark mode*/
    /*
    --main:;
    --alt:;
    --text:;
    */
    
    /*main color pallette*/
    --main: #FFF ;
    --alt: #181818 ;
    --accent: rgb(47, 216, 56);

    /*fonts*/
    --font-extrasmall: 0.75em;
    --font-small: 1em;
    --font-normal: 1.2em;
    --font--meduim: 1.5em;
    --font--big: 2em;
    --font--large: 3em;
    --font--mega: 6em;

    /* common  margins and paddings*/
    --offset-extrasmall: 10px;
    --offset-small: 20px;
    --offset-normal: 40px;
    --offset-medium: 50px;

    --offset-left: 3%;
    /*-----------------*/
}

.text{
    font-size: var(--font--big);
    word-spacing: 1px;
    line-height: 1.5em;
}
.textW{
    font-size: var(--font--big);
    word-spacing: 1px;
    line-height: 1.5em;
    color: white;
}

section:nto{
    margin-bottom: 20vh;
}
/*-----------------------END OF GENERIC--------------------------*/



/*headings and text for current document*/
#heading{
    font-size: 8em;
    font-weight: 400;
}
#slogan{
    font-size: 2em;
}

.headingV1{
    font-size: 6em;
    margin-left: var(--offset-left);
    margin-bottom: 50px;
}

.headingV2{
    font-size: 3em;
}

.text-box-regular{
    font-size: 2.4em;
    line-height: 1.15em;
    width: 90%;
    margin-left: var(--offset-left);
    margin-top: var(--font--meduim);

    font-family: "Jost", serif;
}
#highlighted{
    background-color: var(--accent);
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 5px;
    color: white;
}
#subheading{
    margin-left: var(--offset-left);
}

/*--------------------------------------*/


/*---------------------MAIN-CONTENT-------------------*/

/*welcoming part*/
#welcoming{
    display: flex;
    padding: var(--offset-left);
    width: 100%;
    height: 92vh;
}
#container{
    display: flex;
    align-items: center;
}
#button{

    margin-left: var(--offset-left);

    margin-right: 30px;

    margin-top: 100px;
    background: var(--accent);
    border-radius: 999px;
    box-shadow: var(--accent) 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 10px 20px;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

#button a{
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-weight: 300;

    font-family: "Rubik", serif;
}
#logo{
    aspect-ratio: 1/1;
    height: auto;
    width: auto;
    margin-left: var(--offset-medium);
}
#graphic{
    margin-left: auto;
}
/*responsive*/
@media (max-width: 768px){
    #heading{
        font-size: 5em;
        margin: var(--offset-normal);
    }
    #slogan{
        margin: var(--offset-normal)
    }
    #graphic{
        display: none;
    }
    #logo{
        margin-right: auto;
    }
}
/*----------*/

/*-------------------END OF MAIN CONTENT----------------*/












/*------stats part------*/
#stats{
    margin-top: 10vh;
}

#stats #subheading{
    font-size: var(--font--meduim);
    margin-left: 3.2%;
    margin-bottom: 50px;
    color: var(--accent);
}

#progress-bars{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

/*------кутии------*/
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 30px;
    aspect-ratio: 1/1;
    width: 20%;
}
.wrapper p{
    font-size: 2em;
}
.progress-bar1, .progress-bar2, .progress-bar3{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 80%;
    border-radius: 50%;
}

/*цветове*/
.progress-bar1{
    background:
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(rgb(255, 21, 32) 90%, rgb(253, 208, 216) 0);  
}

.progress-bar2{
    background:
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(rgb(44, 179, 11) 75%, rgb(208, 240, 204) 0);  
}

.progress-bar3{
    background:
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(rgb(255, 153, 0) 54%, rgb(255, 218, 176) 0);  
}



/*проценти*/
.progress-bar1::before{
    content: "90%";
    font-size: 3.2em;
}

.progress-bar2::before{
    content: "75%";
    font-size: 3.2em;
}

.progress-bar3::before{
    content: "54%";
    font-size: 3.2em;
}

/*responsive*/
@media(max-width: 610px){
    #stats #headingV1{
        text-align: center;
        font-size: 8em;
    }
    
    #stats #subheading{
        text-align: center;
    }
    
    #progress-bars{
        flex-direction: column;
        gap: 40px;
    }
    
    .wrapper{
        width: 100%; 
        margin-bottom: 100px;
    }
    
    .progress-bar1, .progress-bar2, .progress-bar3 {
        width: 100%;
        max-width: 90%;
    }

    .progress-bar1::before,
    .progress-bar2::before,
    .progress-bar3::before {
        font-size: 5em;
    }
}

/*----------------*/

/*---------------------END-OF-MAIN----------------------*/