/*--fonts--*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');
/*---GENERAL---*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    user-select: none;
}
body{
    font-family: "Inter", serif;
    font-weight: 300;
    font-style: normal;

    /*--colors--*/
    --background-main:#F3F4F6;
    --background-alt: #F2F2F2;
    --background-main-dark:#181818 ;

    --text-main:#222222;
    --text-white: #F3F4F6;;
    /*----------*/
    
    /*fonts*/
    --font-extrasmall: 0.75em;
    --font-small: 1em;
    --font-normal: 1.2em;
    --font--meduim: 1.5em;
    --font--big: 2em;
    --font--large: 3em;
    --font--mega: 6em;

    /* common  margins and paddings*/
    --offset-extrasmall: 10px;
    --offset-small: 20px;
    --offset-normal: 40px;
    --offset-medium: 50px;

    --offset-left: 3%;
    /*-----------------*/
}

#footer{
    width: 100%;
    height: fit-content;
    background-color: var(--background-main-dark);
    color: var(--text-white);
    padding: 1.5em;
}
#footer a{
    color: var(--main);
    text-decoration: none;
}

#footer-heading{
    font-size: 3em;
    margin-bottom: 50px;
    font-weight: 450;
    margin-top: 20px;
}

.row-heading{
    font-size: 3em;
    margin-bottom: 30px;
}
.row-heading i{
    font-size: 1em;
    transform: translateY(3.75px);
}

#rows-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    margin-bottom: 50px;
}

.row{
    width: 30%;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
    transition: 0.2s ease-in-out;
}
.row:hover{
    background-color: #303030;
}

.row-text, .contacts-text{
    font-size: 1em
}
.contacts-text{
    margin-left:5%;
}
/*--copyright-text--*/
.copyright{
    margin-top: 50px;
}
/*--language-button--*/
#language-button{
    font-size: 1em;
    font-weight: 600;
    /*--eye-wise-alligment--*/
    margin-left: 2px;
    transition: scale 0.2s ease-in-out;
}

#lanuage-button:hover{
    transform: scale(1.2);
}

/*--responsive--*/
@media (max-width: 764px){
    #footer{
        padding: 1em;
    }
    #footer-heading{
        font-size: 2.5em;
        margin-bottom: 25px;
    }
    #rows-container{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .row{
        width: 90%;
        margin: 0;
        margin-bottom: 50px;
    }
    .row-heading{
        font-size: 2em;
    }
    .row-heading i{
        font-size: 1em;
    }
    .row-text{
        font-size: 0.8em
    }
}

/*tablet*/
@media (min-width: 764px) and (max-width: 1024px) {
    .row{
        width: 100%;
    }
    .row-heading{
        font-size: 2em;
    }
}

/*само за заглавия за footer*/
@media (min-width: 1024px) and (max-width: 1460px) {
    .row-heading{
        font-size: 1.8em;
    }
}
/*-----------------*/


@media(max-width: 746px){
    .coloumn{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(width > 746px){
    .coloumn{
        width: 100%;
    }
}