/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');

/*--generic--*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
body {
    font-family: "Inter", serif;
    font-weight: 300;
    background-color: var(--main);
    --main: #F5F5F5;
    --main-dark: #181818;
    --background-alt: #2d2d2d;
    --background-main-dark: #181818;
    --text: #181818;
    --text-white: #F3F4F6;
}
/*--NAVIGATION--*/
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--background-main-dark);
    color: var(--text-white);
    padding: 12px 20px;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.logo img {
    width: 40px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-white);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--background-main-dark);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

/*--profile-box--*/
#little-container {
    display: flex;
    justify-content: flex-end;
}

.profile a img{
    aspect-ratio: 1/1;
    width: 40px;
    border-radius: 50%;
}

/*--Responsive-navigation--*/
@media(max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--background-main-dark);
        transition: all 0.3s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
    }

    .open-menu, .close-menu {
        display: block;
    }

    #check:checked ~ .menu {
        right: 0;
    }
}

/*--Responsive-adjustments--*/
@media(max-width: 768px) {
    .nav-bar {
        padding: 30px;
    }

    .menu li a::after {
        display: none;
    }

    /* Hide text */
    .menu li a p {
        display: none;
    }

    .menu li a i {
        font-size: 3em;
        margin-right: 5px;
        background-color: #303030;
        padding: 10px;
        border-radius: 50px;
    }

    .menu li a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 10px;
    }

    .menu {
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .menu li {
        padding: 10px;
    }
}