/*--fonts--*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');
/*--generic--*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    user-select: none;
}
body{
    font-family: "Inter", serif;
    font-weight: 300;

    background-color: var(--main);

    
    min-height: 100vh;
    min-width: 100vw;
    
    /*--light-theme--*/
    --main:#F5F5F5;
    --alt:#757575;
    --text: #333333;

    /*--dark-theme--*/
    /*
    --main: #;
    --alt: #;
    --text: #;
    */
    
    /*--main-color-pallette--*/
    --main: #FFF ;
    --alt: #181818 ;
    --accent: rgb(47, 216, 56);
    --accent-light: rgb(47, 216, 56);

    /*--font-sizes--*/
    --font-extrasmall: 0.75em;
    --font-small: 1em;
    --font-normal: 1.2em;
    --font--meduim: 1.5em;
    --font--big: 2em;
    --font--large: 3em;
    --font--mega: 6em;

    /*--common-margins-and-paddings*/
    --offset-extrasmall: 10px;
    --offset-small: 20px;
    --offset-normal: 40px;
    --offset-medium: 50px;

    /*--offsets--*/
    --offset-left: 3%;
    --offset-left-small: 1.5%;

    /*-----------------*/

}
/*--generic--*/

/*--MAIN--*/

/*--MAIN--*/