/**generic*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    font-family: "Inter", serif;
    font-weight: 300;

    background-color: var(--main);

    padding-left: 250px;
    margin-left: 0;
    width: 100%;
    
    --main:#FFF ;
    --alt: #2d2d2d;
    --text: #181818;
    --text-white: #F3F4F6;
    --main-dark:#181818;
    --accent: rgb(47, 216, 56);
    --blue:#007BFF;
    --red:#FF4136;
    --yellow:#FFDC00;
    --orange:#FF851B;
    --green:#28A745;
    --purple: #6F42C1;

    --font-extrasmall: 0.75em;
    --font-small: 1em;
    --font-normal: 1.2em;
    --font--meduim: 1.5em;
    --font--big: 2em;
    --font--large: 3em;
    --font--mega: 6em;

    --offset-extrasmall: 10px;
    --offset-small: 20px;
    --offset-normal: 40px;
    --offset-medium: 50px;

    --offset-left: 3%;
    --offset-left-small: 1.5%;
}

@media (min-width: 769px) {
    body:not(footer-bar) {
        padding-left: 250px;
    }
}
@media (max-width: 768px){
    body{
        width: 100%;
        padding-left: 0;
    }
    footer-bar{
        display: none;
    }
}

/**------MAIN------*/

#heading-main{
    font-size: 5em;
    margin-left: var(--offset-left);
    font-weight: 500;
    margin-top: 3vh;
    margin-bottom: 5vh;
}
.section-heading{
    font-weight: 600;
    margin-left: var(--offset-left);
    font-size: 2.8em;
    margin-bottom: 50px;
    display: flex;
    gap: 10px;
}
.section-heading i{
    transform: translateY(3px);
}
/**------MAIN------*/
/*common*/
#flex{
    display: flex;
}
#grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 120px;
    row-gap: 40px;
}
/*common*/

#account_wrapper{
    display: flex;
    flex-direction: row;
    margin-left: var(--offset-left);
    margin-bottom: 10VH;
}
#user_pfp_wrapper img{
    aspect-ratio: 1/1;
    width: 150px;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#user_username_wrapper{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 5px;
    justify-content: center;
    margin-left: 20px;
}

#user_username_heading{
    font-weight: 500;
    font-size: 2.4em;
}
#user_email{
    font-size: 1.4em;
}

@media (max-width: 480px) {
    #account_wrapper{
        margin-bottom: 5vh;
    }
    #heading-main{
        font-size: 3.2em;
    }
    #user_pfp_wrapper img{
        width: 70px;
    }
    #user_username_headng{
        font-size: 1.6em;
    }
    .section-heading{
        font-size: 1.4em;
    }

    #grid{
        column-gap: 50px;
        row-gap: 25px;
    }
    .window{
        width: 90%;
        align-self: center;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #account_wrapper{
        margin-bottom: 5vh;
    }
    #heading-main{
        font-size: 3.6em;
    }
    #user_pfp_wrapper img{
        width: 80px;
    }
    #user_username_headng{
        font-size: 1.8em;
    }
    .section-heading{
        font-size: 1.6em;
    }

    #grid{
        column-gap: 70px;
        row-gap: 35px;
    }
}



.window{
    width: fit-content;
    height: auto;
    min-height: 50px;
    margin-bottom: 50px;
    margin-left: var(--offset-left);
    padding: 30px;
    border-radius: 20px;
    
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.window ul{
    display: block;
    list-style: none;
}
.window ul li{
    display: flex;
    flex-direction: column;

}
.window ul li .property{
    opacity: 0.7;
    font-weight: 300;
    font-size: 1.6em;
    margin-bottom: 5px;
}
.window ul li .value{
    font-weight: 600;
    font-size: 1.6em;
}