/** ===== ШРИФТОВЕ ====*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    font-family: "Inter", serif;
    font-weight: 300;

    background-color: var(--main);

    width: 100%;
    
    --main:#FFF ;
    --alt: #2d2d2d;
    --text: #181818;
    --text-white: #F3F4F6;
    --main-dark:#181818;
    
    --accent: #4070f4;
    --red:#c9271f;

    --offset-left: 3%;
    --offset-left-small: 1.5%;
}

/** ===== ГЛАВНИ КОМПОНЕНТИ ===== */
.page-wrapper{
    display: flex;
    gap: 100px;
}

@media (max-width: 1024px) {
    .page-wrapper{
        flex-direction: column;
        gap: 50px;
    }
}

/*account and buttons*/
.account-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 20%;
    margin-bottom: 50px;
    position: sticky;
}
.user-picture{
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 30px var(--offset-left);
}
.user-username{
    font-size: 2em;
    font-weight: 600;
    font-family: "Onest", serif;
    color: var(--accent);
}
.user-email{
    font-weight: 300;
    font-size: 1.4em;
}
.logout{
    color: var(--red);
    font-size: 3em;
    transform: translateY(3px);
}
.tab-selector{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-weight: 500;
    font-size: 2em;
    text-align: center;
    align-items: center;
    color: var(--accent);
}
.tab{
    color: var(--accent);
}

@media (max-width: 1024px) {
    .account-wrapper{
        width: 100%;
        margin-bottom: 50px;
    }
    .user-picture{
        width: 180px;
    }
    .user-username{
        font-size: 2em;
    }
    .tab-selector{
        display: none;
    }
}

/*info section*/
.info-wrapper{
    display: flex;
    flex-direction: column;
    padding: 4vh 30px 0 30px;
    overflow-y: scroll;
    width: calc(80% - 100px);
}
.row{
    display: flex;
    flex-direction: column;
}
.row-heading{
    font-size: 4em;
    color: var(--accent);
    font-weight: 600;
    margin-bottom: 20px;
}

.subheading{
    font-size: 1.2em;
    font-family: "Onest", serif;
    margin-bottom: 80px;
}
.boxes-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 15vh;
}
.box{
    width: 30%;
    aspect-ratio: 5/3;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box-heading{
    color: var(--accent);
    font-size: 2.4em;
    font-weight: 500;
}

.box-value{
    font-size: 1.4em;
    color: var(--text);
    opacity: .7;
    font-family: "Onest", serif;
}

.box-redact{
    font-size: 1.6em;
    opacity: .7;
    color: var(--text);
}

.box-redact i{
    transform: translateY(3px);
}


@media (max-width: 480px) {
    .info-wrapper{
        overflow: visible;
        width: 100%;
    }
    .row{
        flex-direction: column;
    }
    .row-heading{
        font-size: 4em;
        margin-bottom: 20px;
    }
    
    .subheading{
        margin-bottom: 50px;
    }
    .boxes-wrapper{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
    }
    .box{
        width: 90%;
        flex-direction: column;
        padding: 40px;
    }
    .box-heading{
        font-size: 2.4em;
    }
    .box-value{
        font-size: 1.4em;
    }
    .box-redact{
        font-size: 1.6em;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .info-wrapper{
        overflow: visible;
        width: 100%;
    }
    .row{
        flex-direction: column;
    }
    .row-heading{
        font-size: 4em;
    }
    
    .subheading{
        margin-bottom: 50px;
    }
    .boxes-wrapper{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 40px;
    }
    .box{
        width: 90%;
        flex-direction: column;
    }
    .box-heading{
        font-size: 3em;
    }
    .box-value{
        font-size: 2em;
    }
    .box-redact{
        font-size: 2em;
    }
}