/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    user-select: none;
    -webkit-user-select: none;
}
body{

    /*white mode*/
    --main:#F5F5F5;
    --alt:#757575;
    --text: #333333;

    --text-white: #F3F4F6;
    
    /*main color pallette*/
    --main: #FFF ;
    --alt: #181818 ;
    

    --accent:#4070f4;

    /*common colors*/
    --blue:#4070f4;
    --red:#FF4136;
    --yellow:#FFDC00;
    --orange:#FF851B;
    --green:#28A745;
    --purple: #6F42C1;

    --offset-left: 3%;

    width: 100%;
}

/*----------MAIN---------*/

/**top section*/

.welcoming-section{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 20px;
    margin-bottom: 5vh;
}

.heading-main{
    color: var(--accent);
    font-family: "Inter", serif;
    font-size: 5em;
    margin-left: var(--offset-left);
    font-weight: 300;
    margin-top: 40px;
}

.create-pack{
    margin-left: var(--offset-left);
}

.create-pack a{
    font-size: 1.8em;
    color: var(--accent);
    font-family: "Onest", serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 300;
}

/*phones**/
@media (max-width: 480px) {
    .heading-main{
        font-size: 3em;
    }
    .create-pack a{
        font-size: 1.2em;
    }
}

/*tablets*/
@media (min-width: 481px) and (max-width: 767px) {
    .heading-main{
        font-size: 4em;
    }
    .create-pack a{
        font-size: 1.4em;
    }
}

/*pc and laptop and etc*/
@media (min-width: 768px) and (max-width: 1024px) {
    .heading-main{
        font-size: 5em;
    }
    .create-pack a{
        font-size: 1.6em;
    }
}


/*cards + cards container*/
.cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: auto;
    min-height: 100px;


    margin-bottom: 50px;

    justify-content: space-evenly;
    align-items: center;
}

.card {
    aspect-ratio: 5/3;
    width: 30%;
    border-radius: 20px;
    background-color: var(--main);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    padding: 40px;

    display: flex;
    flex-direction: column;

    gap: 15px;

    font-family: "Onest", serif;

    justify-content: center;
}

.card-heading {
    font-size: 3em;
    color: var(--accent);
    font-weight: 500;
    font-family: "Inter", serif;
}

/*phone*/
@media (max-width: 480px) {
    .cards-container{
        flex-direction: column;
        gap: 20px;
        justify-content: space-evenly;
        align-items: center;
    }

    .card{
        width: 90%;
        padding: 20px;
        gap: 10px;
    }

    /*pack name*/
    .card-heading{
        font-size: 2em;
    }
    /*number of questions*/
    .card-questions-number{
        font-size: 1.1em;
    }
}

/*tablet*/
@media (min-width: 481px) and (max-width: 1024px) {
    /*.cards-container - no change*/
    .card{
        width: 45%;
        padding: 30px;
    }
    /*pack name*/
    .card-heading{
        font-size: 2.8em;
    }
    /*number of questions*/
    .card-questions-number{
        font-size: 1.2em;
    }
}

/*info-field*/
.card-questions-info-field {
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: 50%;
    
    
    justify-content: space-evenly;
    align-items: center;

    align-self: center;
    justify-self: center;
}

/*the elemnts thmeselves*/
.all-questions-number, .right-questions-number, .wrong-questions-number{
    font-size: 2em;
    font-weight: 300;

    display: flex;
    flex-direction: column;

    justify-content: center;
    justify-self: center;

    align-items: center;
    gap: 5px;
}

/*select text*/
.all-questions-number span:nth-of-type(1){
    font-size: 0.8em;
    color: var(--accent);
    text-align: center;
}

/*vertical line*/
.vertical{
    border: 1px solid var(--alt);
    opacity: 0.1;
    height: 80%;
}
/*colors*/
.correct{
    color: var(--green);
}
.wrong{
    color: var(--red);
}

@media (max-width: 480px) {
    /*info-field*/
    .card-questions-info-field {
        gap: 10px;
    }
    /*select text*/
    .all-questions-number span:nth-of-type(1){
        font-size: 0.7em;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    
    .card-questions-info-field {
        gap: 10px;
    }
    /*select text*/
    .all-questions-number span:nth-of-type(1){
        font-size: 0.7em;
    }
}

/*buttons*/
.buttons{
    display: flex;
    width: auto;
}
/*edit button*/
.edit{
    background-color: var(--accent);
    border-radius: 20px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    
    font-family: "Onest",serif;
    font-size: 1.4em;
    font-weight: 500;

    min-height: 44px;
    min-width: 10px;

    overflow: hidden;
    padding: 9px 20px;

    position: relative;
    text-align: center;
    touch-action: manipulation;
    width: fit-content;
}

.edit:hover,.edit:focus, 
.quiz:hover,.quiz:focus{
    opacity: .75;
}
/*start quiz button*/
.quiz{
    margin-left: auto;

    background-color: var(--main);
    border: 3px solid var(--accent);
    border-radius: 20px;
    box-sizing: border-box;
    color: var(--text);
    display: flex;
    
    cursor: pointer;

    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    
    font-family: "Onest",serif;
    font-size: 1.4em;
    font-weight: 500;

    min-height: 44px;
    min-width: 10px;

    overflow: hidden;
    padding: 9px 15px;

    position: relative;
    text-align: center;
    touch-action: manipulation;
    width: fit-content;
}
