/*--general--*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
body{

    /*white mode*/
    --main:#F5F5F5;
    --alt: #2d2d2d; /*for dark and light mode*/
    --text: #181818;
    --text-white: #F3F4F6;
    /*--dark-mode--*/
    --main-dark:#181818;
    /*main color pallette*/
    --main: #FFF ;
    --accent: rgb(47, 216, 56);

    /*common colors*/
    --blue:#007BFF;
    --red:#FF4136;
    --yellow:#FFDC00;
    --orange:#FF851B;
    --green:#28A745;
    --purple: #6F42C1;

}
.dark{
    background-color: var(--main-dark);
    color: var(--text-white);
}