:root{
    /*--светъл режим*/
    --main:#F5F5F5;
    --alt: #2d2d2d; /*и за двата*/
    --text: #181818;
    --text-white: #F3F4F6;
    /*--тъмен режим--*/
    --main-dark:#181818;
    /*главна палитра*/
    --main: #FFF ;
}
.dark{
    background-color: var(--main-dark);
    color: var(--text-white);
}