/** ===== FONTS ==== */
/*@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');
*/

/*DM SANS*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/** ====== GENERAL ===== */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    font-family: "DM Sans", serif;
    font-weight: 300;

    background-color: var(--main);
    width: 100%;
    
    --main:#FFF ;
    --alt: #2d2d2d;
    --text: #181818;
    --text-white: #F3F4F6;
    --main-dark:#181818;

    --accent: #4070f4;

    --blue:#007BFF;
    --red:#FF4136;
    --yellow:#FFDC00;
    --orange:#FF851B;
    --green:#28A745;
    --purple: #6F42C1;

    --font-extrasmall: 0.75em;
    --font-small: 1em;
    --font-normal: 1.2em;
    --font--meduim: 1.5em;
    --font--big: 2em;
    --font--large: 3em;
    --font--mega: 6em;

    --offset-extrasmall: 10px;
    --offset-small: 20px;
    --offset-normal: 40px;
    --offset-medium: 50px;

    --offset-left: 3%;
    --offset-left-small: 1.5%;
}









/** ===== HEADINGS ====== */

/*заглавие V1 и V2*/
.headingV1{
    font-size: 4em;
    margin-left: var(--offset-left);
    margin-bottom: 50px;
    margin-top: 50px;
    font-weight: 400;
    color: var(--text);
    font-weight: 500;
    background-color: none;
}

.headingV2{
    font-size: 3em;
    margin-bottom: 50px;
    margin-top: 25px;
    
    font-weight: 600;
    font-family: 'Onest';
}

/*главно заглавие*/
#main-header{
    font-size: 5em;
    margin-left: var(--offset-left);
    color: var(--accent);
    font-weight: 500;
    margin-top: 3vh;
}

/*поздрав*/
#welcoming-header{
    font-size: 4em;
    margin-left: var(--offset-left);
    margin-bottom: 5vh;
}

/*user_username*/
#user_username_welcoming{
    color: var(--accent);
}


/*responsive*/

/*телефони*/
@media (max-width: 480px) {
    .headingV1{
        font-size: 2.6em;
        margin-bottom: 80px;
    }
    
    .headingV2{
        font-size: 1.8em;
    }
    
    /*главно заглавие*/
    #main-header{
        font-size: 2.4em;
    }
    /*поздрав*/
    #welcoming-header{
        font-size: 2.6em;
    }
}

/*таблети*/
@media (min-width: 481px) and (max-width: 767px) {
    .headingV1{
        font-size: 3em;
        margin-bottom: 80px;
    }
    
    .headingV2{
        font-size: 2.2em;
    }
    
    /*главно заглавие*/
    #main-header{
        font-size: 3.6em;
    }
    /*поздрав*/
    #welcoming-header{
        font-size: 3em;
    }
}

/*таблети и лаптопи*/
@media (min-width: 768px) and (max-width: 1024px) {
    .headingV1{
        font-size: 3.4em;
    }
    
    .headingV2{
        font-size: 2.6em;
    }
    
    /*главно заглавие*/
    #main-header{
        font-size: 4.5em;
    }
    /*поздрав*/
    #welcoming-header{
        font-size: 3.8em;
    }
}





/** ======  DASHBOARD BENTO GRID ====== */

#wrapper{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 92%;
    height: auto;
    border-radius: 20px;
    padding: 1em;
    display: flex;
    gap: 1em;
    margin-bottom: 10vh;
}

/*kолонки*/

.col{
    border-radius: 0;
}
.col-1{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.col-2{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.col-3{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/*редове*/
.row{
    flex: 3;
    display: flex;
    gap:1em;
}
.row.row-2{
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*кутийки*/
.row-box{
    flex: 1;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}
.box{
    flex: 1;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/*--responsive--*/

/*телефони*/
@media (max-width: 480px) {
    .container{
        width: 96%;
        padding: 0.5em;
        flex-direction: column; /*едно под друго*/
    }
}

/*таблети и малки у-ва*/
@media (min-width: 481px) and (max-width: 767px) {
    .container{
        width: 96%;
        padding: 0.5em;
        flex-direction: column;
    }
    .col-1{
        flex-direction: column;
    }
    .col-2{
        flex-direction: row;
    }
    .col-3{
        flex-direction: row;
    }
}

/*лаптопи, големи таблети*/
@media (min-width: 768px) and (max-width: 1500px) {
    .container{
        width: 92%;
        flex-direction: column;
    }
    .col-1{
        flex-direction: row;
    }
    .col-2{
        flex-direction: row;
    }
    .col-3{
        flex-direction: row;
    }

}


/**-- ===== DASHBOARD COMMON ===== */

.box-header,.box-header-type2{
    margin-left: var(--offset-left);
    font-weight: 500;
    
    color: var(--accent);

    text-align: center;
    align-self: center;
}
/*по-голям*/
.box-header{
    font-size: 3em;
}
/*по-малък*/
.box-header-type2{
    font-size: 2.4em;
}

/*responsive*/
@media (max-width: 480px) {
    .box-header{
        font-size: 2em;
    }

    .box-header-type2{
        font-size: 1.6em;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .box-header{
        font-size: 2.4em;
    }

    .box-header-type2{
        font-size: 1.6em;
    }
}


/**-- ====== UPCOMING TASKS WINDOW ===== --*/

.list-events{
    list-style: none;
    font-family: "Onest", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 1em;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 20px;
}
.list-events li{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.list-events li i{
    margin-left: auto;
    color: var(--accent);
    font-size: 0.8em;
    margin-right: 1em;
}
.date{
    color: var(--accent);
}

/*responsive*/
@media (max-width: 480px) {
    .list-events{
        margin-left: 0.5em;
        font-size: 1.4em;
        gap: 40px;
    }
    .list-events li i{
        font-size: 0.6em;
        margin-right: 1em;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .list-events{
        font-size: 1.2em;
        gap: 40px;
    }
    .list-events li i{
        font-size: 0.7em;
    }
}




/**-- ===== PROGRESS WINDOW ====== --*/

.col.col-2 .col-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#progress-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
    margin-left: var(--offset-left);
    gap: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.skills-container{
    position: relative;
    max-width: 500px;
    width: 10%;
    background: #fff;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 7px;
}
.skills-container .skill-box{
    width: 70%;
    margin: 25px 0;
}
.skill-box .title{
    font-size: 1.4em;
    font-weight: 400;
    color: var(--text);
    font-family: "Onest",sans-serif;
}
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #4070f4;
    animation: progress 1s ease-in-out forwards;
    opacity: 0;
}
.skill-per.css{
    width: 70%;
    animation-delay: 0.1s;
}
.skill-per.javascript{
    width: 50%;
    animation-delay: 0.2s;
}
.skill-per.nodejs{
    width: 30%;
    animation-delay: 0.3s;
}

@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #FFF;
    padding: 2px 6px;
    border-radius: 3px;
    background: #4070f4;
    z-index: 1;
}




/**-- ===== CALENDAR ===== --*/

#month-year{
    font-size: 3em;
    font-family: 'Onest';
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--accent);
}

.calendar{
    padding: 10px;
    margin-left: var(--offset-left);
    height: auto;
}

.header{
    margin-bottom: 10px;
}

.controls {
    margin-bottom: 5px;
    display: flex;
}

.controls button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    color: #fff;
}

.controls button i{
    text-align: center;
    transform: translateY(1px);
    font-size: 2em;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 20px;
    column-gap: 40px;
    font-size: 1.2em;
    padding: 5px;
    text-align: center;
}

.day, .day-header{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
}
.day-header{
    font-weight: 600;
}
.day:hover {
    background-color: #f0f0f0;
}

.current-day {
    background-color: var(--green);
    color: var(--text-white);
}

.selected-day {
    background-color: var(--accent);
    color: var(--text-white);
}

.next-month-day {
    color: #888;
}
.prev-month-day {
    color: #888;
}

/*resposnsive*/
@media (max-width: 480px) {
    #month-year{
        font-size: 1.6em;
    }
    .calendar{
        padding: 5px;
    }
    .header{
        margin-bottom: 20px;
    }
    .controls {
        margin-bottom: 5px;
        display: flex;
    }
    .controls button {
        padding: 2.5px 5px;
        font-size: 0.6em;
        margin-bottom: 5px;
        margin-left: 0;
        margin-right: 10px;
    }
    .controls button i{
        font-size: 2em;
    }
    .days{
        width: 100%;
        row-gap: 10px;
        column-gap: 5px;
        font-size: 0.8em;
        padding: 2px;
    }
    .day-header{
        margin-bottom: 20px;
    }
    .day, .day-header{
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
}

/*--current-day--*/
.selected-day-section{
    display: none;

}
.current-day-section .window, .selected-day-section .window{
    margin-left: var(--offset-left);
    display: flex;
    flex-wrap: wrap;
}

.current-day-section .window ul, .selected-day-section .window ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 1.4em;
}



/** ===== ROUND PROGRESS BAR ======*/

.container-progress{
    display: flex;
    width: 420px;
    padding: 50px 0;
    border-radius: 8px;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.circular-progress{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(#4070f4 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-progress::before{
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: var(--main);
}
.progress-value{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #4070f4;
}
.text{
    font-size: 2.4em;
    text-align: center;
    align-self: center;
    font-weight: 500;
    color: var(--text);
}

/*resposnive*/
@media (max-width: 480px) {
    .container-progress{
        width: auto;
        padding: 40px 0;
        row-gap: 20px;
    }
    .circular-progress{
        height: 250px;
        width: 250px;
    }
    .circular-progress::before{
        height: 210px;
        width: 210px;
    }
    .progress-value{
        font-size: 2em;
    }
    .text{
        font-size: 1.8em;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .container-progress{
        width: auto;
        padding: 40px 0;
        row-gap: 20px;
    }
    .circular-progress{
        height: 250px;
        width: 250px;
    }
    .circular-progress::before{
        height: 210px;
        width: 210px;
    }
    .progress-value{
        font-size: 3em;
    }
    .text{
        font-size: 2em;
    }
}



/** ===== SOLVED CARDS SECTION ===== */

.solved-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.solved-container .cards-solved{
    background-color: var(--accent);
    padding: 50px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    color: var(--text-white);
    font-size: 6em;
    font-weight: 600;
    font-family: "Onest", serif;
    margin-top: 50px;
}
.solved-container .placement{
    font-size: 2em;
    font-family: "Onest", serif;
}

@media (max-width: 480px) {
    .solved-container .cards-solved{
        font-size: 3em;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .solved-container .cards-solved{
        font-size: 4em;
    }
}

/** ====== cards for today ===== */

.cards-for-today-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.stack {
    width: 500px;
    height: 500px;
    position: relative;
}

.card {
    width: 80%;
    min-height: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 10rem;
    color: var(--text);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: transform 0.2 ease-in-out;
}

.card:nth-last-child(n + 4) {
  --y: calc(-50% + -60px);
  transform: translate(-50%, var(--y)) scale(0.9);
  box-shadow: 0 0 1px 1px #00000003;
}
.card:nth-last-child(3) {
  --y: calc(-50% + -30px);
  transform: translate(-50%, var(--y)) scale(0.95);
}
.card:nth-last-child(2) {
  --y: calc(-50%);
  transform: translate(-50%, var(--y)) scale(1);
}
.card:nth-last-child(1) {
  --y: calc(-50% + 30px);
  transform: translate(-50%, var(--y)) scale(1.05);
}

@keyframes swap {
  50% {
    transform: translate(-50%, calc(var(--y) - 250px)) scale(0.85) rotate(-5deg);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translate(-50%, calc(var(--y) - 15px)) scale(0.85);
    z-index: -1;
  }
}

/*responsive*/
@media (max-width: 480px) {
    .card{
        width: 50%;
        min-height: 40%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .card{
        width: 70%;
        min-height: 40%;
    }
}