/**generic*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    font-family: "Inter", serif;
    font-weight: 300;

    background-color: var(--main);

    padding-left: 250px;
    margin-left: 0;
    width: 100%;
    
    --main:#FFF ;
    --alt: #2d2d2d;
    --text: #181818;
    --text-white: #F3F4F6;
    --main-dark:#181818;

    --accent: rgb(47, 216, 56);

    --blue:#007BFF;
    --red:#FF4136;
    --yellow:#FFDC00;
    --orange:#FF851B;
    --green:#28A745;
    --purple: #6F42C1;

    --font-extrasmall: 0.75em;
    --font-small: 1em;
    --font-normal: 1.2em;
    --font--meduim: 1.5em;
    --font--big: 2em;
    --font--large: 3em;
    --font--mega: 6em;

    --offset-extrasmall: 10px;
    --offset-small: 20px;
    --offset-normal: 40px;
    --offset-medium: 50px;

    --offset-left: 3%;
    --offset-left-small: 1.5%;
}

@media (min-width: 769px) {
    body:not(footer-bar) {
        padding-left: 250px;
    }
}
@media (max-width: 768px){
    body{
        width: 100%;
        padding-left: 0;
    }
    footer-bar{
        display: none;
    }
}

/*------MAIN------*/



/*common headings*/
.headingV1{
    font-size: 4em;
    margin-left: var(--offset-left);
    margin-bottom: 50px;
    margin-top: 50px;
    font-weight: 400;
    color: var(--text);
    font-weight: 500;
    background-color: none;
}

#heading{
    font-size: 6em;
    margin-left: 20px;
    font-weight: 400;
    margin-left: var(--offset-left);
}

.headingV2{
    font-size: 3em;
    margin-bottom: 50px;
    margin-top: 25px;
    
    font-weight: 600;
    font-family: 'Onest';
}

/*--------*/
@media (max-width: 768px){
    #heading{
        font-size: 4em;
    }
    .headingV1{
        font-size: 3em;
    }
}
/*--------*/

/*--------------*/

#wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: white;
    width: 1200px;
    height: 800px;
    border-radius: 1em;
    padding: 2em;
    display: flex;
    gap: 1em;
}

.row{
    border-radius: 1em;
}
.row-1{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.row-2{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.row-3{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.col{
    flex: 1;
    display: flex;
    gap:1em;
}
.col.col-2{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.col-box{
    background-color: black;
    flex: 1;
    border-radius: 20px;
}

.box{
    flex: 1;
    border-radius: 20px;
    background-color: black;
}


@media(max-width: 1024px){
    .container{
        flex-direction: column;
    }
    .row-1{
        flex-direction: row;
    }
    .row-2{
        flex-direction: row;
    }
    .row-3{
        flex-direction: row;
    }
    .col{
        flex: 2;
        flex-direction: column;
    }
}
@media(max-width: 650px){
    .container{
        width: 900px;
        height: 550px;
        gap: 0.5em;
    }
    .row{
        gap: 0.5em;
    }
    .col{
        gap: 0.5em;
    }
}










/*--current-day--*/