/*--fonts--*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');
/*--generic--*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    user-select: none;
}
body{
    font-family: "Inter", serif;
    font-weight: 300;

    background-color: var(--main);
    
    /*--light-theme--*/
    --main:#F5F5F5;
    --alt:#757575;
    --text: #0A0A0A;

    /*--dark-theme--*/
    /*
    --main: #;
    --alt: #;
    --text: #;
    */
    
    /*--main-color-pallette--*/
    --main: #FFF ;
    --alt: #181818 ;
    --accent: #4070f4;

    /*--font-sizes--*/
    --font-extrasmall: 0.75em;
    --font-small: 1em;
    --font-normal: 1.2em;
    --font--meduim: 1.5em;
    --font--big: 2em;
    --font--large: 3em;
    --font--mega: 6em;

    /*--common-margins-and-paddings*/
    --offset-extrasmall: 10px;
    --offset-small: 20px;
    --offset-normal: 40px;
    --offset-medium: 50px;

    /*--offsets--*/
    --offset-left: 3%;
    --offset-left-small: 1.5%;

    /*-----------------*/

}
/*--generic--*/



/*--MAIN--*/
#header{
    text-align: center;
    color: var(--accent);
    font-size: 6em;
    margin-bottom: 10vh;
    margin-top: 5vh;

    display: flex;
    margin-left: 3%;
    font-weight: 400;
    
    /*allignment of icons*/
    display: flex;
    gap: 15px;
    align-items: center;
}

#header i{
    color: var(--accent);
    font-size: 0.9em;
    align-self: center;
    transform: translateY(3.5px);
}

#sections{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
}

#section{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#section-header{
    font-size: 3em;
    margin-bottom: 5vh;
    font-weight: 500;
    font-family: "Onest", sans-serif;
}
#section-text{
    font-size: 2em;
    color: var(--accent);
    font-weight: 400;
    display: flex;
}
#section-text i{
    color: var(--accent);
    font-size: 1.2em;
    margin-left: 10px;
    align-self: center;
}

.point{
    font-size: 1.5em;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 2em;

    width: 80%;
    line-height: 1.4em;

    font-family: 'Onest';
    font-style: normal;
    font-weight: 300;
}
.point li{
    margin-bottom: 20px;
    list-style: none;
}
.colored{
    color: var(--accent);
    text-decoration: none;
}

/*--responsive--*/

@media (max-width: 480px) {
    #header{
        font-size: 2.8em;
        margin-right: 0;
    }
    #section-header{
        font-size: 2.2em;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #header{
        font-size: 3.4em;
    }
    #section-header{
        font-size: 2.8em;
    }
}
/*--responsive--*/