/** ===== ШРИФТОВЕ ===== */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');
/** ===== ОБЩИ =====*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    user-select: none;
}
body{
    font-family: "Inter", serif;
    font-weight: 300;

    background-color: var(--main);
    
    /*--палитра--*/
    --main:#FFF ;
    --alt: #2d2d2d;
    --text: #181818;
    --text-white: #F3F4F6;
    --main-dark:#181818;
    --accent: #4070f4;

    --offset-left: 3%;
    --offset-left-small: 1.5%;

}

/** ===== ГЛАВНИ КОМПОНЕНТИ =====*/
#header{
    text-align: center;
    color: var(--accent);
    font-size: 6em;
    margin-bottom: 10vh;
    margin-top: 5vh;
    display: flex;
    margin-left: var(--offset-left);
    font-weight: 400;
    /*за икони в текста*/
    display: flex;
    gap: 15px;
    align-items: center;
}

#header i{
    color: var(--accent);
    font-size: 0.9em;
    align-self: center;
    transform: translateY(3.5px);
}

.sections{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
}

.section{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: var(--offset-left);
}

.section-header{
    font-size: 3em;
    margin-bottom: 5vh;
    font-weight: 500;
    font-family: "Onest", sans-serif;
}

.section-text{
    font-size: 2em;
    color: var(--accent);
    font-weight: 400;
    display: flex;
    margin-left: 1em;
}

.section-text a{
    text-decoration: none;
    color: var(--accent);
    display: flex;
    align-items: center;
}

.section-text i{
    color: var(--accent);
    font-size: 1.2em;
    margin-left: 10px;
    align-self: center;
}

.point{
    font-size: 1.5em;
    margin-left: 3em;
    margin-top: 50px;
    margin-bottom: 2em;

    width: 80%;
    line-height: 1.4em;

    font-family: 'Onest';
    font-style: normal;
    font-weight: 300;
}

.point li{
    margin-bottom: 20px;
    list-style: none;
}

.colored{
    color: var(--accent);
    text-decoration: none;
}

/*--отзивчивост на различни у-ва--*/
/*телефони*/
@media (max-width: 480px) {
    #header{
        font-size: 2.8em;
        margin-right: 0;
    }
    .section-header{
        font-size: 2.2em;
    }
}
/*таблети*/
@media (min-width: 481px) and (max-width: 767px) {
    #header{
        font-size: 3.4em;
    }
    .section-header{
        font-size: 2.8em;
    }
}