/** ===== ШРИФТОВЕ*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    
}
body{
    font-family: "Inter", serif;
    font-weight: 300;

    background-color: var(--main);
    
    --main:#FFF ;
    --alt: #2d2d2d;
    --text: #181818;
    --text-white: #F3F4F6;
    --main-dark:#181818;
    
    --accent: #4070f4;

    --offset-left: 3%;
    --offset-left-small: 1.5%;
}

body.dark input {
    background-color: var(--alt);
    border-radius: 20px;
    color: var(--text-white);
}

body.dark input:focus{
    border-bottom: none;
}

/** ===== ГЛАВНИ КОМПОНЕНИТИ ===== */

/*общи*/
.container-main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

/*цветно поле*/
.colored-field{
    width: 40vw;
    height: 100vh;
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

#message{
    color: var(--main);
    font-weight: 600;
    font-family: "Onest", serif;
    text-align: center;
    font-size: 5em;
    margin-bottom: 50px;
}
#subheading{
    color: var(--main);
    font-family: "Onest", serif;
    text-align: center;
    font-size: 1.4em;
}


/*форма*/
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: auto;
}

#message-2{
    font-size: 5em;
    color: var(--accent);
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    align-self: center;
}

form a{
    text-decoration: none;
    color: var(--text);
    align-self: center;
    font-size: 1.6em;
    margin-bottom: 30px;
}

form a span{
    color: var(--accent);
    margin-right: 3px;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    position: relative;
    width: 100%;
}

input {
    font-family: "Onest", serif;
    padding: 25px 20px;
    font-weight: 300;
    border: none;
    background-color: #f6f6f6;
    color: var(--text);
    font-size: 1.6em;
    width: 100%;
    padding-right: 40px;
}

i{
    position: absolute;
    right: 20px;
    font-size: 1.6em;
    color: var(--accent);
}

input[type="submit"]{
    width: 30%;
    align-self: center;
    border-radius: 40px;
    background-color: var(--accent);
    color: var(--text-white);
    font-size: 1.6em;
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: "Onest", serif;
    font-weight: 100;
}

@media (max-width: 480px) {
    .container-main{
        flex-direction: column;
    }
    .colored-field{
        width: 100%;
        height: 20vh;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #message{
        font-size: 2em;
        margin-bottom: 20px;
    }
    #subheading{
        font-size: 1em;
    }
    form{
        width: 90%;
    }
    #message-2{
        font-size: 1.8em;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .container-main{
        flex-direction: column;
    }
    .colored-field{
        width: 100%;
        height: 20vh;
        padding-top: 100px;
        padding-bottom: 100px;
        margin-bottom: 50px;
    }
    #message{
        font-size: 3em;
    }
    #subheading{
        font-size: 1.2em;
    }
    #message-2{
        font-size: 2.4em;
    }
    form{
        width: 90%;
    }
    .input-wrapper{
        width: 90%;
        margin: 0 auto;
    }
    input {
        width: 100%;
    }
    i{
        right: 15px;
    }
}

@media(min-width: 1025px) and (max-width: 1250px){
    #message{
        font-size: 3em;
    }
    #message-2{
        font-size: 3em;
    }
}