/*fonts - Poppins, Raleway*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');
/*---------------------GENERAL---------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", serif;
    font-weight: 300;
    font-style: normal;

    background-color: var(--main);
    
    /*white mode*/
    --main:#F5F5F5;
    --alt: #2d2d2d; /*for dark and light mode*/
    --text: #181818;
    --text-white: #F3F4F6;
    /*--dark-mode--*/
    --main-dark:#181818;

    
    /*main color pallette*/
    --main: #FFF ;
    --accent: rgb(47, 216, 56);

    /*common colors*/
    --blue:#007BFF;
    --red:#FF4136;
    --yellow:#FFDC00;
    --orange:#FF851B;
    --green:#28A745;
    --purple: #6F42C1;

    /*fonts*/
    --font-extrasmall: 0.75em;
    --font-small: 1em;
    --font-normal: 1.2em;
    --font--meduim: 1.5em;
    --font--big: 2em;
    --font--large: 3em;
    --font--mega: 6em;

    /* common  margins and paddings*/
    --offset-extrasmall: 10px;
    --offset-small: 20px;
    --offset-normal: 40px;
    --offset-medium: 50px;

    --offset-left: 3%;
    /*-----------------*/
}
body.dark input {
    background-color: var(--alt);
    border-radius: 20px;
    color: var(--text-white);
}
body.dark input:focus{
    border-bottom: none;
}

/*--MAIN--*/

#message{
    margin: 50px 4%;
    font-size: 4em;
    text-align: center;
}
#heading{
    text-align: center;
    margin-top: 50px;
    font-size: 3em;
    color: var(--accent);
    font-family: "Onest", serif;
}
#forgotten{
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--accent);
    font-weight: 400;

}

/*already-have? button*/
#linkcolored{
    color: var(--accent);
    text-decoration: none;
    font-weight: 500;
}
.container p {
    font-family: "Onest", serif;

    font-size: 1.4em;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;

    margin-bottom: 10vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}
/*----------*/

form{
    background-color:var(--altmisc);
    border-radius: 50px;
    padding: 50px 0px;
    width: 25%;

    display: flex;
    flex-direction: column;

    justify-content: space-around;
    gap: 2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-self: center;
    justify-self: center;

    aspect-ratio: 2/1;
}


#registerButton{
    border: none;
    
    font-family: "Onest", serif;

    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    align-self: center;
    justify-self: center;
    width: 50%;

    font-size: 1.4em;
    font-weight: 400;

    border-radius: 50px;
    padding: 20px 15px;

    background-color: var(--accent);
    color: var(--text-white);
}

/*for icons wrapping*/
.input-wrapper {
    position: relative;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;

    /*box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/

}

/*input field + animation elements*/
.input-wrapper {
    position: relative;
}

.input-wrapper input {
    width: 100%;
    padding: 20px 40px 20px 15px;
    font-size: 1.1em;
    font-family: "Onest", serif;
    border: none;
    
    outline: none;
    position: relative;
    background-color: var(--main);
}

.input-wrapper input:focus {
    border-bottom: 1px solid #000;
}

.input-wrapper i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: var(--text-wh);
}





/*responsive*/
@media (max-width: 480px) {

    #message{
        font-size: 2.2em;
    }
    #heading{
        font-size: 1.4em;
    }
    
    form{
        width: 80%;
    }

    .container p{
        font-size: 1em;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    #message{
        font-size: 3em;
    }
    #heading{
        font-size: 2.2em;
    }

    form{
        width: 70%;
    }

    .container p{
        font-size: 1.2em;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    
    form{
        width: 50%;
    }
}

@media (min-width: 1024px) and (max-width: 1250px) {
    
    form{
        width: 40%;
    }
}




















/*responsive
@media(max-width: 764px){
    #message{
        font-size: 2.5em;
    }
    #heading{
        margin-top: 25px;
        font-size: 1em;
    }
    form{
        width: 80%;
    }
}

@media (max-width: 768px) {
    .container {
        margin-top: 20px;
        padding: 0 10px;
    }

    .input-wrapper {
        width: 90%;
    }

    .input-wrapper input {
        padding: 18px 30px 18px 15px;
        font-size: 1em;
    }

    .input-wrapper i {
        font-size: 1.2em;
    }

    #registerButton {
        width: 70%;
        padding: 12px;
        font-size: 1.1em;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 5px;
    }
    .input-wrapper {
        width: 80%;
    }
    .input-wrapper input {
        padding: 15px 30px 15px 15px;
        font-size: 0.9em;
    }
}
*/