/**generic*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    font-family: "Inter", serif;
    font-weight: 300;

    background-color: var(--main);
    margin-left: 0;
    width: 100%;
    
    --main:#FFF ;
    --alt: #2d2d2d;
    --text: #181818;
    --text-white: #F3F4F6;
    --main-dark:#181818;
    
    --accent: #4070f4;

    --blue:#007BFF;
    --red:#FF4136;
    --yellow:#FFDC00;
    --orange:#FF851B;
    --green:#28A745;
    --purple: #6F42C1;

    --font-extrasmall: 0.75em;
    --font-small: 1em;
    --font-normal: 1.2em;
    --font--meduim: 1.5em;
    --font--big: 2em;
    --font--large: 3em;
    --font--mega: 6em;

    --offset-extrasmall: 10px;
    --offset-small: 20px;
    --offset-normal: 40px;
    --offset-medium: 50px;

    --offset-left: 3%;
    --offset-left-small: 1.5%;
}

/*----MAIN----*/

/**welcoming-section*/
#welcoming-section{
    display: flex;
    align-items: center;
    margin-bottom: 15vh;
    background-color:#f1f1ff;

}
#welcoming-text{
    display: flex;
    flex-direction: column;
}
#heading-main{
    margin-left: 10vh;
    font-size: 5em;
    font-weight: 500;
    margin-top: 10vh;
    margin-bottom: 20px;
    color: var(--accent);
}
#subheading{
    font-family: "Onest", sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    margin-left: 10vh;
    color: var(--text);
    margin-bottom: 70px;
}
#graphic{
    margin-left: auto;
    margin-right: 10vh;
}

.try-button {
    background-color: var(--accent);
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Onest", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    margin-left: 10vh;
}

.try-button:hover {
    background-color: #6780ff;
}

.try-button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}


#note{
    color: #959cff;
    margin-left: calc(10vh + 2px);
    margin-top: 10px;
    margin-bottom: 10vh;
}
/*responsive*/ /**-!!!needs some work*/
@media (max-width: 480px) {
    #heading-main{
        font-size: 2em;
        margin-left: 5vh;
        margin-top: 5vh;
    }
    #subheading{
        font-size: 1em;
        margin-left: 5vh;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #heading-main{
        font-size: 3.2em;
        margin-left: 5vh;
        margin-top: 5vh;
        width: 90%;
    }
    #subheading{
        margin-left: 5vh;
        font-size: 1.6em;
    }
    .try-button{
        font-size: 0.8em;
        margin-left: 5vh;
    }
    #note{
        margin-left: 5vh;
        font-size: .8em;
    }
    #graphic{
        display: none;
    }
}



/**first-section*/
.heading-mockup{
    color: var(--accent);
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10vh;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-family: "Onest", sans-serif;
}

.heading-mockup-right{
    color: var(--accent);
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10vh;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-family: "Onest", sans-serif;
    margin-left: auto;
    margin-right: 10vh;
}

.headingV1{
    margin-left: 10vh;
    font-weight: 400;
    font-size: 4em;
    margin-bottom: 50px
}

.wrapper-simple{
    display: flex;
    padding-left: 5vh;
    padding-right: 5vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 20vh;
}
.box-card{
    width: 20vw;
    aspect-ratio: 1/1;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 20px;
    padding: 30px;

    display: flex;
    flex-direction: column;
}
.box-mini{
    aspect-ratio: 1/1;
    width: 90px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    color: var(--accent);
    margin-bottom: 30px;
}
.box-heading{
    font-size: 2.4em;
    font-family: "Onest", sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}
.box-text{
    font-size: 1.2em;
    font-family: "Onest", sans-serif;
}

@media(max-width: 480px){
    .heading-mockup{
        margin-left: 5vh;
        font-size: 1em;
    }
    
    .heading-mockup-right{
        margin-left: 5vh;
        font-size: 1em;
    }

    .headingV1{
        margin-left: 5vh;
        font-size: 2em;
    }
    
    .wrapper-simple{
        display: flex;
        flex-direction: column;
        padding-left: 2.5vh;
        padding-right: 2.5vh;
        width: 100%;
    }
    .box-card{
        width: 80vw;
        padding: 30px;
        margin-bottom: 5vh;
    }
    .box-mini{
        width: 90px;
        font-size: 3em;
    }
    .box-heading{
        font-size: 2em;
    }
}

@media (min-width: 481px) and (max-width: 1024px){

    .headingV1{
        margin-left: 5vh;
        font-size: 2em;
    }

    .heading-mockup{
        margin-left: 5vh;
        font-size: 1em;
    }
    
    .heading-mockup-right{
        margin-left: 5vh;
        font-size: 1em;
    }

    .headingV1{
        margin-left: 5vh;
        font-size: 3em;
    }
    
    .wrapper-simple{
        flex-direction: row;
        padding-left: 2.5vh;
        padding-right: 2.5vh;
        width: 100%;
        flex-wrap: wrap;
    }
    .box-card{
        width: 40vw;
        margin-bottom: 5vh;
    }
    .box-heading{
        font-size: 2.4em;
    }

}

/**section-2*/
.text-box{
    font-size: 1.4em;
    margin-left: 10vh;
    width: 50%;
    margin-bottom: 20px;
    line-height: 1.4em;
    font-family: "Onest", sans-serif;
}
.ui-wrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 15VH;
}
.ui-wrapper div:nth-of-type(1){
    display: flex;
    flex-direction: column;
}
.ui-wrapper div:nth-of-type(2){
    margin-left: auto;
    margin-right: 10vh;
}

/*responsive*/
@media (max-width: 480px) {
    .text-box{
        font-size: 1.2em;
        margin-left: 5vh;
        margin-right: 5vh;
        width: 80%;
        margin-bottom: 20px;
        line-height: 1.4em;
        font-family: "Onest", sans-serif;
    }
    .ui-wrapper{
        display: flex;
        flex-direction: column;
        margin-bottom: 20vh;
    }
    .ui-wrapper div:nth-of-type(1){
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 5vh;
    }
    .ui-wrapper div:nth-of-type(2){
        margin-right: 20vh;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .text-box{
        font-size: 1.4em;
        margin-left: 10vh;
        width: 50%;
        margin-bottom: 20px;
        line-height: 1.4em;
        font-family: "Onest", sans-serif;
    }
    .ui-wrapper{
        display: flex;
        flex-direction: row;
        margin-bottom: 15VH;
    }
    .ui-wrapper div:nth-of-type(1){
        display: flex;
        flex-direction: column;
    }
    .ui-wrapper div:nth-of-type(2){
        margin-left: auto;
        margin-right: 20vh;
    }
}



/**calendar section*/
#calendar-block{
    width: 100%;
    background-color: #f1f1ff;
    height: 90vh;
    margin-bottom: 20vh;
    padding-top: 10vh;
}
#calendar-block div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    padding-left: auto;
}
#calendar-block div:nth-of-type(1) .headingV1{
    margin-left: auto;
    margin-right: 10vh;
}

#calendar-block div:nth-of-type(1) .text-box{
    margin-left: auto;
    margin-right: 10vh;
    text-align: right;
    width: 30%;
}

#calendar-image-div{
    margin-left: 10vh;
}

/**--stats-section--*/
#progress-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20vh;
}
.container{
    display: flex;
    width: 420px;
    padding: 50px 0;
    border-radius: 8px;
    background: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}
.circular-progress, .circular-progress-2,.circular-progress-3{
    position: relative;
    height: 340px;
    width: 340px;
    border-radius: 50%;
    background: conic-gradient(#4070f4 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-progress::before, .circular-progress-2::before, .circular-progress-3::before{
    content: "";
    position: absolute;
    height: 275px;
    width: 275px;
    border-radius: 50%;
    background-color: #fff;
}
.progress-value, .progress-value-2, .progress-value-3{
    position: relative;
    font-size: 3em;
    font-weight: 600;
    color: var(--accent);
}
.text{
    font-size: 2em;
    font-weight: 400;
    color: var(--text);
    text-align: center;
    font-family: "Onest", sans-serif;
}

/**download app section*/
#app-download-wrappper{
    display: flex;
    margin-bottom: 10vh;
}
#app-download-wrappper div:nth-of-type(1){
    display: flex;
    flex-direction: column;
}
#app-download-wrappper div:nth-of-type(2){
    margin-left: auto;
    display: block;
    margin-right: 10vh;
}

@media (max-width: 480px) {
    #app-download-wrappper{
        display: flex;
        flex-direction: column;
    }
    #app-download-wrappper{
        margin-bottom: 5vh;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    #app-download-wrappper{
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
    }
    #app-download-wrappper div:nth-of-type(1){
        display: flex;
        flex-direction: column;
    }
    #app-download-wrappper div:nth-of-type(2){
        margin-right: 5dvh;
    }
}