/** ===== ШРИФТОВЕ =====*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');
/** ===== ОБЩО ===== */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    font-family: "Inter", serif;
    font-weight: 300;
    background-color: var(--main);
    width: 100%;
    
    --main:#FFF ;
    --alt: #2d2d2d;
    --text: #181818;
    --text-white: #F3F4F6;
    --main-dark:#181818;   
    --accent: #4070f4;

    /*отстъпи*/
    --offset-left: 3%;
    --offset-left-small: 1.5%;
}

/** ===== ГЛАВНИ КОМПОНЕНТИ ===== */

/**приветставача секция*/
#welcoming-section{
    display: flex;
    align-items: center;
    background-color:#f1f1ff;

}
#welcoming-text{
    display: flex;
    flex-direction: column;
}
#heading-main{
    margin-left: 10vh;
    font-size: 5em;
    font-weight: 500;
    margin-top: 10vh;
    margin-bottom: 20px;
    color: var(--accent);
}
#subheading{
    font-family: "Onest", sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    margin-left: 10vh;
    color: var(--text);
    margin-bottom: 70px;
}
#graphic{
    margin-left: auto;
    margin-right: 10vh;
}

.try-button {
    background-color: var(--accent);
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Onest", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    touch-action: manipulation;
    width: fit-content;
    margin-left: 10vh;
}

.try-button a{
    text-decoration: none;
    color: var(--text-white);
}
.try-button:hover {
    background-color: #6780ff;
}

.try-button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

#note{
    color: #959cff;
    margin-left: calc(10vh + 2px);
    margin-top: 10px;
    margin-bottom: 10vh;
}

/*отзивчивост на у-ва*/ 
@media (max-width: 480px) {
    #heading-main{
        font-size: 2em;
        margin-left: 5vh;
        margin-top: 5vh;
    }
    #subheading{
        font-size: 1em;
        margin-left: 5vh;
    }
    #graphic{
        display: none;
    }
    .try-button{
        font-size: 1em;
        margin-left: 5vh;
    }
    #note{
        font-size: 0.7em;
        margin-left: calc(5vh + 2px);
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #heading-main{
        font-size: 3.2em;
        margin-left: 5vh;
        margin-top: 5vh;
        width: 90%;
    }
    #subheading{
        margin-left: 5vh;
        font-size: 1.6em;
    }
    .try-button{
        font-size: 0.8em;
        margin-left: 5vh;
    }
    #note{
        margin-left: calc(5vh + 2px);
        font-size: .8em;
    }
    #graphic{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1300px){
    #graphic{
        display: none;
    }
}



/**секция 1-ва*/

.heading-mockup{
    color: var(--accent);
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10vh;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-family: "Onest", sans-serif;
}

.heading-mockup-right{
    color: var(--accent);
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10vh;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-family: "Onest", sans-serif;
    margin-left: auto;
    margin-right: 10vh;
}

.headingV1{
    margin-left: 10vh;
    font-weight: 400;
    font-size: 4em;
    margin-bottom: 50px
}

.wrapper-simple{
    display: flex;
    padding-left: 5vh;
    padding-right: 5vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 20vh;
}
.box-card{
    width: 19vw;
    aspect-ratio: 1/1;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 20px;
    padding: 30px;

    display: flex;
    flex-direction: column;
}
.box-mini{
    aspect-ratio: 1/1;
    width: 90px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    color: var(--accent);
    margin-bottom: 30px;
}

.box-heading {
    font-size: 2.4em;
    font-family: "Onest", sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    overflow-wrap: break-word;
}


.box-text{
    font-size: 1.2em;
    font-family: "Onest", sans-serif;
}

@media(max-width: 480px){
    .heading-mockup{
        margin-left: 5vh;
        font-size: 1em;
    }
    .heading-mockup-right{
        margin-left: 5vh;
        font-size: 1em;
    }
    .headingV1{
        margin-left: 5vh;
        font-size: 2em;
    }
    .wrapper-simple{
        display: flex;
        flex-direction: column;
        padding-left: 2.5vh;
        padding-right: 2.5vh;
        width: 100%;
    }
    .box-card{
        width: 80vw;
        padding: 20px;
        margin-bottom: 5vh;
    }
    .box-mini{
        width: 80px;
        font-size: 3em;
        margin-bottom: 15px;
    }
    .box-heading{
        font-size: 2.4em;
        margin-bottom: 15px;
    }
    .box-text{
        font-size: 1.4em;
    }
}

@media (min-width: 481px) and (max-width: 1024px){
    .heading-mockup{
        margin-left: 5vh;
        font-size: 1em;
    } 
    .heading-mockup-right{
        margin-left: 5vh;
        font-size: 1em;
    }
    .headingV1{
        margin-left: 5vh;
        font-size: 2em;
    }
    .wrapper-simple{
        flex-direction: row;
        padding-left: 2.5vh;
        padding-right: 2.5vh;
        width: 100%;
        flex-wrap: wrap;
    }
    .box-card{
        width: 40vw;
        margin-bottom: 5vh;
    }
    .box-heading{
        font-size: 2.6em;
    }
}

/**секция 2*/
.text-box{
    font-size: 1.4em;
    margin-left: 10vh;
    width: 50%;
    margin-bottom: 20px;
    line-height: 1.4em;
    font-family: "Onest", sans-serif;
}
.ui-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ui-wrapper div:nth-of-type(1){
    display: flex;
    flex-direction: column;
}
/*контеинер със снимка*/
.ui-wrapper div:nth-of-type(2){
    margin-left: auto;
    margin-right: 10vh;
    display: flex;
    width: 100%;
}
#ui_design_graphic{
    width: 50vw;
    height: auto;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
}

/*отзивчивост на у-ва*/
@media (max-width: 480px) {
    .text-box{
        font-size: 1.2em;
        margin-left: 5vh;
        margin-right: 5vh;
        width: 80%;
        margin-bottom: 20px;
        line-height: 1.4em;
        font-family: "Onest", sans-serif;
    }
    .ui-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20vh;
    }
    .ui-wrapper div:nth-of-type(1){
        display: flex;
        flex-direction: column;
        margin-bottom: 10vh;
        width: 90vw;
    }
    .ui-wrapper div:nth-of-type(2){
        margin-right: 20vh;
    }
}

@media (min-width: 481px) and (max-width: 1200px) {
    .text-box{
        font-size: 1.4em;
        margin-left: 10vh;
        width: 80%;
        margin-bottom: 20px;
        line-height: 1.4em;
        font-family: "Onest", sans-serif;
    }
    .ui-wrapper{
        display: flex;
        flex-direction: column;
    }
    .ui-wrapper div:nth-of-type(1){
        display: flex;
        flex-direction: column;
        margin-bottom: 10vh;
        width: 90vw;
    }
    .ui-wrapper div:nth-of-type(2){
        margin-left: auto;
        margin-right: 20vh;
    }
}

/**функция с календар*/
#calendar-block{
    width: 100%;
    background-color: #f1f1ff;
    height: 90vh;
    margin-bottom: 10vh;
    padding-top: 10vh;
}
#calendar-block div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    padding-left: auto;
}
#calendar-block div:nth-of-type(1) .headingV1{
    margin-left: auto;
    margin-right: 10vh;
}

#calendar-block div:nth-of-type(1) .text-box{
    margin-left: auto;
    margin-right: 10vh;
    text-align: right;
    width: 30%;
}

#calendar-image-div{
    margin-left: 10vh;
}

@media (max-width: 480px) {
    #calendar-block{
        width: 100%;
        margin-bottom: 10vh;
        width: fit-content;
    }
    #calendar-block div:nth-of-type(1){
        display: flex;
        flex-direction: column;
        padding-left: auto;
    }
    #calendar-block div:nth-of-type(1) .headingV1{
        margin-left: auto;
        margin-right: 5vh;
    }
    
    #calendar-block div:nth-of-type(1) .text-box{
        margin-right: 5vh;
        width: 80%;
    }
}

@media (min-width: 480px) and (max-width:1100px){
    #calendar-block{
        width: 100%;
        margin-bottom: 10vh;
    }
    #calendar-block div:nth-of-type(1){
        display: flex;
        flex-direction: column;
        padding-left: auto;
    }
    #calendar-block div:nth-of-type(1) .headingV1{
        margin-left: auto;
        margin-right: 5vh;
    }
    
    #calendar-block div:nth-of-type(1) .text-box{
        margin-right: 5vh;
        width: 60%;
    }
}

/** ====== СЕКЦИЯ С АНКЕТИРАЛИ ===== */
#progress-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20vh;
    flex-wrap: wrap;
    overflow: hidden;
}

.container {
    display: flex;
    width: 420px;
    padding: 50px 0;
    border-radius: 8px;
    background: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}

.circular-progress, .circular-progress-2, .circular-progress-3 {
    position: relative;
    height: 340px;
    width: 340px;
    border-radius: 50%;
    background: conic-gradient(#4070f4 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before, .circular-progress-2::before, .circular-progress-3::before {
    content: "";
    position: absolute;
    height: 275px;
    width: 275px;
    border-radius: 50%;
    background-color: #fff;
}

.progress-value, .progress-value-2, .progress-value-3 {
    position: relative;
    font-size: 3em;
    font-weight: 600;
    color: var(--accent);
}

.text {
    font-size: 2em;
    font-weight: 400;
    color: var(--text);
    text-align: center;
    font-family: "Onest", sans-serif;
}

@media (max-width: 480px) {
    #progress-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .text {
        margin: 0 2.5em;
        font-size: 1.6em;
    }

    .container {
        width: 100%;
        padding: 30px 0;
    }

    .circular-progress, .circular-progress-2, .circular-progress-3 {
        height: 250px;
        width: 250px;
    }

    .circular-progress::before, .circular-progress-2::before, .circular-progress-3::before {
        height: 200px;
        width: 200px;
    }

    .progress-value, .progress-value-2, .progress-value-3 {
        font-size: 2.5em;
    }
}

@media (min-width: 481px) and (max-width: 850x) {
    #progress-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .text {
        margin: 0 2.5em;
        font-size: 1.8em;
    }

    .container {
        width: 90%;
        padding: 40px 0;
    }

    .circular-progress, .circular-progress-2, .circular-progress-3 {
        height: 270px;
        width: 270px;
    }

    .circular-progress::before, .circular-progress-2::before, .circular-progress-3::before {
        height: 210px;
        width: 210px;
    }
    .progress-value, .progress-value-2, .progress-value-3 {
        font-size: 3em;
    }
}

@media (min-width: 850px) and (max-width: 1100px) {
    #progress-wrapper {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .text {
        font-size: 2em;
    }

    .container {
        width: 420px;
        padding: 50px 0;
    }
    .circular-progress, .circular-progress-2, .circular-progress-3 {
        height: 320px;
        width: 320px;
    }
    .circular-progress::before, .circular-progress-2::before, .circular-progress-3::before {
        height: 260px;
        width: 260px;
    }
    .progress-value, .progress-value-2, .progress-value-3 {
        font-size: 3.2em;
    }
}





/** ===== СЕКЦИЯ С ЛИНК ЗА ИЗТЕГЛЯНЕ ===== */

#app-download-wrappper{
    display: flex;
    margin-bottom: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#app-download-wrappper div:nth-of-type(1){
    display: flex;
    flex-direction: column;
}
#app-download-wrappper div:nth-of-type(2){
    display: flex;
    justify-content: center;
    padding-right: 10vh;
    width: 100%;
}
#app_on_phone_graphic{
    width: 50vw;
    height: auto;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 auto;
}

@media (max-width: 480px) {
    #app-download-wrappper{
        flex-direction: column;
        margin-bottom: 5vh;
    }

    #app_on_phone_graphic{
        width: 90vw;
        height: auto;
        margin: 0 auto;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    #app-download-wrappper{
        flex-direction: column;
        align-items: center;
        margin-bottom: 5vh;
    }
    #app-on_phone_graphic{
        width: 90vw;
        height: auto;
        margin: 0 auto;
    }
}



#welcoming-section, .wrapper-simple, #calendar-block, #progress-wrapper, #app-download-wrappper, .ui-wrapper {
    margin-bottom: 15vh;
}

/*отзивчивост на у-ва*/
@media (max-width: 480px) {
    #welcoming-section, .wrapper-simple, #calendar-block, #progress-wrapper, #app-download-wrappper, .ui-wrapper {
        margin-bottom: 15vh;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    #welcoming-section, .wrapper-simple, #calendar-block, #progress-wrapper, #app-download-wrappper, .ui-wrapper {
        margin-bottom: 15vh;
    }
}

@media (min-width: 1025px) {
    #welcoming-section, .wrapper-simple, #calendar-block, #progress-wrapper, #app-download-wrappper, .ui-wrapper {
        margin-bottom: 15vh;
    }
}
