/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    user-select: none;
    -webkit-user-select: none;
}
body{

    /*white mode*/
    --main:#F5F5F5;
    --alt:#757575;
    --text: #333333;

    --text-white: #F3F4F6;
    
    /*main color pallette*/
    --main: #FFF ;
    --alt: #181818 ;
    

    --accent:#4070f4;

    /*common colors*/
    --blue:#4070f4;
    --red:#FF4136;
    --yellow:#FFDC00;
    --orange:#FF851B;
    --green:#28A745;
    --purple: #6F42C1;

    --offset-left: 3%;

    width: 100%;
}

/*----------MAIN---------*/

/**top section*/

.welcoming-section{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 20px;
    margin-bottom: 5vh;
}

.heading-main{
    color: var(--accent);
    font-family: "Inter", serif;
    font-size: 5em;
    margin-left: var(--offset-left);
    font-weight: 600;
    margin-top: 40px;
}

/*phones**/
@media (max-width: 480px) {
    .heading-main{
        font-size: 3em;
    }
}

/*tablets*/
@media (min-width: 481px) and (max-width: 767px) {
    .heading-main{
        font-size: 4em;
    }
}

/*pc and laptop and etc*/
@media (min-width: 768px) and (max-width: 1024px) {
    .heading-main{
        font-size: 5em;
    }
}

/** ===== SCHEDULE ===== */

.schedule-wrapper{
    display: flex;
    gap: 1%;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.day{
    min-height: 150px;
    width: 16%;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    text-align: center;
    font-family: "Onest", serif;
    font-weight: 500;

    display: flex;
    flex-direction: column;
}

.week-day-heading{
    font-size: 2rem;
    color: var(--accent);
    margin-bottom: 10px;
}

.day hr{
    width: 40%;
    border: 1px solid var(--accent);
    margin: 0 auto;
}

.schedule-box{
    margin-top: 20px;
    border-radius: 20px;
    padding: 5px 15px;
    min-height: fit-content;
    background-color: #e0e0e1;
    width: fit-content;
    align-self: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.note{
    font-size: .9em;
    opacity: .7;
    color: #6780ff;
}

/*phone*/
@media (max-width: 480px) {
    .schedule-wrapper{
        flex-direction: column;
        gap: 20px;
    }
    .week-day-heading{
        font-size: 1.6em;
    }
    .day{
        width: 90%;
        align-self: center;
    }
    .schedule-box{
        width: 70%;
    }
}

/*tablet*/
@media (min-width: 481px) and (max-width: 1200px) {
    .schedule-wrapper{
        gap: 20px;
    }
    .week-day-heading{
        font-size: 1.6em;
    }
    .day{
        width: 40%;
        align-self: center;
    }
    .schedule-box{
        width: 80%;
    }
}


/** ===== DRAGABLE SUBJECTS BOX ===== */
.headingV1{
    font-size: 2em;
    margin-left: var(--offset-left);
    color: var(--accent);
    
    /*for icons*/
    display: flex;
    align-items: center;
    gap: 7px;
}
.headingV1 i{
    transform: translateY(2px);
}

.draggable-subject-wrapper{
    display: flex;
    flex-direction: column;
}

.subject-box{
    justify-self: center;
    margin: 20px 0;
    display: flex;
    width: 94%;
    min-height: fit-content;
    max-height: 50vh;
    padding: 15px;
    flex-wrap: wrap;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    background-color: var(--main);
    gap: 10px;
    justify-content: space-evenly;
}

.subject{
    font-size: 1.2em;
    font-family: "Onest", serif;
    padding: 5px 10px;
    border-radius: 20px;

    /**fix*/
    background-color: #f7f7f7;
    color: var(--accent);

    height: fit-content;
    width: fit-content;

}