/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
}
body{
    /*white mode*/
    --main:#F5F5F5;
    --alt:#757575;
    --text: #333333;

    --text-white: #F3F4F6;
    
    /*main color pallette*/
    --main: #FFF;
    --alt: #181818 ;
    
    --accent:#4070f4;

    --offset-left: 3%;

    width: 100%;
}

/*----------MAIN---------*/

/**top section*/

.welcoming{
    display: flex;
    justify-content: center;
    padding-top: 1vw; /*(100-98)/2*/
    align-items: center;
}

.colored-field{
    background-color: var(--accent);
    border-radius: 20px;
    width: 98%;
    height: 40vh;
    padding-left: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.heading-main{
    color: var(--text-white);
    font-weight: 600;
    font-family: "Onest", serif;
    font-size: 5em;
}

.heading i{
    transform: translateY(3px);
}

@media (max-width: 480px) {
    .colored-field{
        padding-left: 50px;
        height: 30vh;
        margin-bottom: 5vh;
    }
    .heading-main{
        font-size: 3em;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .colored-field{
        padding-left: 50px;
        margin-bottom: 5vh;
    }
    .heading-main{
        font-size: 4em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .colored-field{
        padding-left: 62.5;
    }
}

/** ===== SCHEDULE ===== */

.schedule-wrapper{
    display: flex;
    gap: 1%;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.day{
    min-height: 150px;
    width: 18%;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    text-align: center;
    font-family: "Onest", serif;
    font-weight: 500;

    display: flex;
    flex-direction: column;
}

.week-day-heading{
    font-size: 2rem;
    color: var(--accent);
    margin-bottom: 10px;
}

.day hr{
    width: 40%;
    border: 1px solid var(--accent);
    margin: 0 auto;
}

.schedule-box{
    margin-top: 20px;
    border-radius: 20px;
    padding: 5px 15px;
    min-height: fit-content;
    background-color: #f4f4f4;
    width: fit-content;
    align-self: center;
}

.note{
    font-size: .9em;
    opacity: .7;
    color: #6780ff;
}

/*responsive*/
/*phone*/
@media (max-width: 480px) {
    .schedule-wrapper{
        flex-direction: column;
        gap: 20px;
    }
    .week-day-heading{
        font-size: 1.6em;
    }
    .day{
        width: 90%;
        align-self: center;
    }
    .schedule-box{
        width: 70%;
    }
}

/*tablet*/
@media (min-width: 481px) and (max-width: 1200px) {
    .schedule-wrapper{
        gap: 20px;
    }
    .week-day-heading{
        font-size: 1.6em;
    }
    .day{
        width: 40%;
        align-self: center;
    }
    .schedule-box{
        width: 80%;
    }
}


/** ===== DRAGABLE SUBJECTS BOX ===== */

.headingV1{
    font-size: 3em;
    margin-left: var(--offset-left);
    color: var(--accent);
    font-weight: 400;
    /*for icons*/
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 50PX;
}
.headingV1 i{
    transform: translateY(2px);
}

/*SUBJECTS*/

.draggable-subject-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#subject-box{
    align-self: center;
    justify-self: center;

    display: flex;
    gap: 60px;
    width: 100%;
    padding-left: var(--offset-left);
    padding-right: var(--offset-left);
    padding-bottom: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.subject{
    border-radius: 20px;
    background-color: var(--main);
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
    font-family: "Onest", serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: 0.2s all ease-in-out;
}

.subject:hover{
    background-color: #f6f6f6;
    cursor: pointer;
}

.subject-box-mini{
    border-radius: 12px;
    padding: 10px;
    aspect-ratio: 1/1;
    color: var(--accent);
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.subject-name{
    font-weight: 400;
    font-size: 1.8em;
}

/*resposnive*/


@media (max-width: 480px) {
    #subject-box{
        gap: 40px;
    }
    .subject{
        min-height: 80%;
        max-width: 95%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #subject-box{
        gap: 40px;
    }
    .subject{
        max-width: 45%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #subject-box{
        gap: 20px;
    }
}